%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookies.exists?
    - @oven.cookies.each do |cookie|
      = render 'oven_cookie', cookie: cookie
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
