%h3= @oven.name

= render 'prepare_cookie', klass: 'hide-for-medium-up'

.cookie-info
  Cookie in oven:
  - if @oven.cookies.exists?
    = render 'oven_cookies'
  - else
    None

%br

= render 'prepare_cookie', klass: 'show-for-medium-up'